
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Martel&display=swap');

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?lmpzes');
  src:  url('../fonts/icomoon.eot?lmpzes#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?lmpzes') format('truetype'),
    url('../fonts/icomoon.woff?lmpzes') format('woff'),
    url('../fonts/icomoon.svg?lmpzes#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-email:before {
  content: "\e900";
  color: #7f7f7f;
}
.icon-github:before {
  content: "\e901";
  color: #7f7f7f;
}
.icon-linkedin:before {
  content: "\e902";
  color: #7f7f7f;
}
.icon-pdf:before {
  content: "\e903";
  color: #7f7f7f;
}
.icon-twitter:before {
  content: "\e904";
  color: #7f7f7f;
}



html, body {
  -webkit-font-smoothing: antialiased;
}

h1, h2 {
  font-family: 'Fira Sans', sans-serif;
}

p, a {
  font-family: 'Martel', serif;
}

.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: auto;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  padding: 5% 0;
  margin: 0;
  min-height: 250px;
  background-color: rgba(33, 33, 33, .3);
  background: rgb(2,0,36);
  background: linear-gradient(rgba(33, 33, 33, .3) 0%, rgba(2,0,36,1) 100%);
  color:white;
  align-items: center;

  position: relative;
  box-shadow: 0 15px 10px rgba(0, 0, 0, .5);
  z-index: 1;
}
.hero h1, .hero h2 {
  margin: 0 0 10px 0;
  letter-spacing: .08rem;
}
.hero p {
  width: 400px;
  line-height: 1.5;
}
.hero:after {
  content: "";
  display: block;
  height: 30px;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: linear-gradient(-135deg, rgba(2,0,36,1) 15px, transparent 0) 0 15px,
              linear-gradient( 135deg, rgba(2,0,36,1) 15px, transparent 0) 0 15px;
  background-position: top left;
  background-repeat: repeat-x;
  background-size: 30px 30px;
}

.avatar-frame,.avatar-frame img {
	width: 100px;
  height: 100px;
  margin-bottom:25px;
	-webkit-border-radius: 60px; /* Saf3+, Chrome */
	border-radius: 60px; /* Opera 10.5, IE 9 */
	/*-moz-border-radius: 30px;  Disabled for FF1+ */
}

.contact {
  padding-top: 30px;
  text-align: center;
  color:#686868;
  min-height: 150px;
}
.contact h2 {
  margin: 25px 0;
}

.contact ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width:50%;
  max-width: 600px;
  margin: auto;
}
.contact a {
  text-decoration: none;
}

.icon:before {
  font-size:62px;
  opacity: 0.5;
}
.icon > i {
  /* visibility:hidden; */
  display: none;
}
@media only screen and (min-width : 320px) and (max-width : 812px)
{
  .contact ul, .hero p { width:90%;}
}
@media only screen and (min-width : 320px) and (max-width : 374px)
{
  .icon:before {font-size:40px;}
}

footer {
  flex-shrink: 0;
  width: 100%;
  text-align: center;
  font-size: .75em;
}
